{% extends "base.html" %}
{% import "partials/language.html" as lang with context %}
<!doctype html>
<html lang="{{ lang.t('language') }}" class="no-js">
  {% block header %}  
  <header class="md-header" data-md-component="header" style="height: 13.5rem; position: relative;">
    <nav class="md-header__inner md-grid md-header--shadow-nav" aria-label="{{ lang.t('header') }}">
      <a href="{{ config.extra.homepage | d(nav.homepage.url, true) | url }}" title="{{ config.site_name | e }}" class="md-header__button md-logo" aria-label="{{ config.site_name }}" data-md-component="logo">
        {% include "partials/logo.html" %}
      </a>
      <label class="md-header__button md-icon" for="__drawer">
        {% include ".icons/material/menu.svg" %}
      </label>
      <div class="md-header__title" data-md-component="header-title">
        <div class="md-header__ellipsis">
          <div class="md-header__topic">
            <span class="md-ellipsis">{{ config.site_name }}</span>
          </div>
          <div class="md-header__topic" data-md-component="header-topic">
            <span class="md-ellipsis">{{ page.meta.title if page.meta and page.meta.title else page.title }}</span>
          </div>
        </div>
      </div>
      <div class="md-header__source">
        {% include "partials/source.html" %}
      </div>
    </nav>
    <section class="md-section">
      <div class="md-grid md-typeset">
        <div class="section01" style="text-align: center; width: 70%; margin: auto; margin-top: 1rem; margin-bottom: 1rem;">
          <h1 style="font-weight: 700; font-size: 43px; line-height: 48px; padding-top: 2.5rem;">Coming Soon...</h1>
        </div>
      </div>
    </section>
    <style>
      .md-header, .md-header--shadow { box-shadow: none !important; transition: none !important; }
      .md-header--shadow-nav { box-shadow: 0 0 0.2rem #0000001a, 0 0.2rem 0.4rem #0003; transition: transform .25s cubic-bezier(.1,.7,.1,1), box-shadow .25s; }
      .md-section { background-image: url('assets/img/home/background.svg') !important; background-position-y: -24rem; }
    </style>
  </header>
  {% endblock %}
  {% block main_block %}
  <main class="md-main" data-md-component="main">
    <div class="md-container-home" data-md-component="container">
      <div style="height: 5rem;"></div>
      <div class="row md_home_link_container_row"></div>
    </div>
  </main>
  {% endblock %}
  {% block footer %}
  {% include "partials/footer_home.html" %}
  {% endblock %}
</html>
